@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
* {font-family:"Source Sans Pro";}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    /*font-family:sans-serif;*/
	font-family:"Source Sans Pro";
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
a {color: #e40612 }
a:active {text-decoration: none;}
a:hover {text-decoration: none;}
a:visited {text-decoration: none;}
/* Portrait layout (default) */
.app {margin-bottom: 80px;display: none;}

.len, .les {display: none;}

h2{font-size: 20px;font-weight:bold;}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {}
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.aright {text-align:right}
.aleft {text-align:left}
.acenter {text-align:center}

footer {background: rgba(250, 250, 250, 0.9);border-top: 1px solid #9b9b9b;padding-top:10px;}
footer .col-3 {float:left;text-align:center;}
footer .col-3 a {color:#9b9b9b; font-size: 10px;}
footer .col-3.active a {color:#0076ff;}

.modal-backdrop.show {    opacity: 1;}
.modal-backdrop {background: url(../img/backdrop.svg) no-repeat right bottom #fff;background-size:auto 50%;}
.modal-content {border:none;}

nav.navbar {background:#e40612;}
nav.navbar a {color: #ffffff;   font-size: 16px;}
nav.navbar h1 {    font-size: 20px;
    PADDING: 0;font-weight: bold;
    MARGIN: 0;
    color: #fff;}

.app.container {padding-top:60px;}

.btn-info {background: #e40612;border-color:#e40612;margin-top: 20px;border-radius:40px;padding:10px 40px;}
.btn-warning {background: #e40612;border-color:#e40612;margin-top: 20px;border-radius:40px;padding:10px 40px;color: #fff;}
.btn-danger {margin-top: 20px;border-radius:40px;padding:10px 40px;}
.btn-sm {margin-top: 10px;margin-bottom: 10px;border-radius:20px;padding:5px 10px;font-size:10px;}

.badge-primary {
    color: #fff;
    background-color: #e40612;
        font-size: 11px;
	    font-weight: 500;
		white-space: normal!important;
}

#index.languages h3 {color: #fff;font-size:18px;margin-bottom: 40px;}

#index.languages a.en {background: url(../img/icono-en.png) no-repeat left center; background-size: auto 50%;}
#index.languages a.es {background: url(../img/icono-es.png) no-repeat left center; background-size: auto 50%;}



#index.languages .list-group-item {
    padding-top: 0;
    padding-bottom: 0;}
#index.languages .list-group-item .badge{ color: #e40612;   font-size: 20px;}
#index.languages .list-group-item a{
    padding-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
	color: #e40612;
        font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    width: 100%;	}	
	


#index {text-align:center;background-color:#e40612;}
#index #logo {margin-top:0%;}
#index input[type="text"]{border:1px solid #e40612;line-height:40px;width:80%;margin:0 auto;}
#index input[type="password"]{border:1px solid #e40612;line-height:40px;width:80%;margin:0 auto;}

#index .btn-info {background: #fff;border-color:#e40612;color:#e40612;margin-top: 20px;border-radius:40px;padding:10px 40px;}
#index .btn-warning {background: #fff;border-color:#e40612;color:#e40612;margin-top: 20px;border-radius:40px;padding:10px 40px;}


#registro {text-align:center;background-color:#e40612;}
#registro h3{color:#fff;font-size:18px;}
#registro #logo {margin-top:0%;}
#registro label{    color: #fff;    font-size: 16px;}
#registro input[type="text"]{border:1px solid #e40612;line-height:40px;width:80%;margin:0 auto;}
#registro input[type="email"]{border:1px solid #e40612;line-height:40px;width:80%;margin:0 auto;}
#registro input[type="password"]{border:1px solid #e40612;line-height:40px;width:80%;margin:0 auto;}

#registro .btn-info {background: #fff;border-color:#e40612;color:#e40612;margin-top: 20px;border-radius:40px;padding:10px 40px;}
#registro .btn-warning {background: #fff;border-color:#e40612;color:#e40612;margin-top: 20px;border-radius:40px;padding:10px 40px;}


#home {text-align:center;padding-top:5%;height: 100vh;}

#home a.company {background: url(../img/icono-alfran.png) no-repeat left center; background-size: auto 75%;}
#home a.sites {background: url(../img/icono_fabrica.png) no-repeat left center; background-size: auto 75%;}
#home a.calc {background: url(../img/icono_mezcladora.png) no-repeat left center; background-size: auto 75%;}
#home a.tdatas {background: url(../img/icono_matraz.png) no-repeat left center; background-size: auto 75%;}
#home a.sdatas {background: url(../img/iconos_casco.png) no-repeat left center; background-size: auto 75%;}
#home a.contact {background: url(../img/icono_tlf.png) no-repeat left center; background-size: auto 75%;}

#home .list-group-item {
    padding-top: 0;
    padding-bottom: 0;}
#home .list-group-item .badge{ color: #e40612;   font-size: 20px;}
#home .list-group-item a{
    padding-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
	color: #e40612;
    font-size: 16px;	}	
	
	
#home .pull-right {display: inline-block; float: right;}

#home .btn-info {margin-top: 5px;}
#home .btn-danger {margin-top: 5px;}
#home .btn-warning {margin-top: 5px;}

#sites #contacttxt {margin-top: 60px;}
#sites #contacttxt h4 {text-transform: uppercase;}
#contact #contacttxt h4 {text-transform: uppercase;}

.btn-secondary {background: #d5d5d5;border-color:#d5d5d5;margin-top: 40px;border-radius:40px;padding:10px 40px;}
.btn-primary {background: #d5d5d5;border-color:#d5d5d5;margin-top: 40px;border-radius:40px;padding:10px 40px;}

	
#ajustes svg {width:15px; height: auto;}

.openmodal {width:100%;display: inline-block;color:#495057;text-align: center;}
.openmodal span {float: right; color:#00bab2;font-size:20px;font-weight: bold;}



#ajustes {padding-top:10%;}
#ajustes .item {border-bottom:1px solid #e2e2e2;}
#ajustes .item-header {padding: 20px 10px;}
#ajustes .item-body {padding: 20px 10px;border-top:1px solid #e2e2e2;}
#ajustes .item-header a {font-size: 19px;font-weight:normal;color:#494949;}
#ajustes .item-header a span{float:right;color:#00bab2;font-size: 24px;}
#ajustes .form-group label{font-size: 15px;}
#ajustes .form-group .btn{width: 100%;}
#ajustes .form-group input{display: none;}
#ajustes .form-group {    margin-bottom: 0;}
#ajustes  .btn-info {
    background-color: #00bab2;
    border-color: #00bab2;
    padding: 10px auto;
}
#ajustes .form-group .btn-info {
	margin-top:0;
}
#ajustes .form-group .btn-info.active {
    background-color: #e40612;
    border-color: #e40612;
}
.clearable{
  position: relative;
  display: inline-block;
  width:100%;
}
.clearable input[type=text]{
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
}
.clearable__clear{
  display: none;
  position: absolute;
  right:0; top:0;
  padding: 0 8px;
  font-style: normal;
  user-select: none;
  cursor: pointer;
  font-size: 38px;
  font-family: serif;
      z-index: 4;
}
.clearable input::-ms-clear {  /* Remove IE default X */
  display: none;
}



.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
  text-align: left;
  border: none;
  border-bottom: 1px solid #303f9f;
  border-radius: 0px;
}
.dropdown-toggle.btn-default:focus,
.dropdown-toggle.btn-default:hover{
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
  text-align: left;
  border: none;
  border-bottom: 2px solid #303f9f;
  border-radius: 0px;
}
.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #3f51b5 !important;
}

.bootstrap-select .check-mark::after {
  content: "✓";
}
.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}